<!-- Educaciones -->
<div class=" my-3 educaciones-container">
    <h4 class="mt-3">Educaciones</h4>

    <div class="my-3 educacion-1 grupo-info" *ngFor="let education of educations">
        <app-education-form 
            (onSaveEducation)="saveEducation($event)" 
            (onDeleteEducation)="removeEducation($event)"
            [education]="education"
        ></app-education-form>
    </div>
    <div *ngIf="onAdding">
        <h4>Nueva Educacion</h4>
        <app-education-form (onSaveEducation)="addEducacion($event)"></app-education-form>
    </div>
    <button *ngIf="!onAdding" type="button" (click)="toggleOnAdding()" class="btn btn-primary btn-añadir">Añadir Seccion</button>
    <button *ngIf="onAdding" type="button" (click)="toggleOnAdding()" class="btn btn-primary btn-cancelar-añadir">Deshacer</button>
</div>

<!-- Certificaciones -->

<div class=" my-3 certificates-container">
    <h4>Certificaciones</h4>
    <!-- TODO DYNAMIC -->
    <div class="my-3 certificado-1">
        <label for="formFile" class="form-label">Imagen del Certificado</label>
        <input class="form-control form-file" type="file" id="formFile">
        <button type="button" class="btn btn-primary btn-guardar">Actualizar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>

    </div>
    
    <div class="my-3 certificado-2">
        <label for="formFile" class="form-label">Imagen del Certificado</label>
        <input class="form-control form-file" type="file" id="formFile">
        <button type="button" class="btn btn-primary btn-guardar">Actualizar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>
    
    <div class="my-3 certificado-3">
        <label for="formFile" class="form-label">Imagen del Certificado</label>
        <input class="form-control form-file" type="file" id="formFile">
        <button type="button" class="btn btn-primary btn-guardar">Actualizar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>
    
    <div class="my-3 certificado-4">
        <label for="formFile" class="form-label">Imagen del Certificado</label>
        <input class="form-control form-file" type="file" id="formFile">
        <button type="button" class="btn btn-primary btn-guardar">Actualizar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>

    <button type="button" class="btn btn-primary btn-añadir">Añadir Certificado</button>
</div>
