
.ft-perfil{
    margin-top: 4px;
    margin-left: none;
    background-color: #1f1f1f8a;
    border: #1e5631;
}

/* Linea de grid */
.col-9{
    border-left: 2px solid #045736;
}

/* List group */
.adminDashboard .list-group-item{
    background: #9cc29f;
}

.adminDashboard .list-group-item:hover{
    background: #9cc29f;
}

.panel-logo{
    width: 30px;
    height: 30px;
}

/* Paneles */
.tab-pane{
    text-align: start;
    padding-left: 2%;
}

.btn-guardar{
    background-color: #ffffff;
    color: #1e5631;
    font-weight: 500;
    margin-top: 10px;
    border: none;
}

.btn-guardar:hover{
    background-color: #5c9261;
}

.btn-guardar:focus, .btn-guardar:active{
    background-color: #5c9261;
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-eliminar{
    background-color: #ffffff;
    color: #1e5631;
    font-weight: 500;
    margin-top: 10px;
    border: none;
}

.btn-eliminar:hover{
    background-color: #ee6969;
}

.btn-eliminar:focus, .btn-eliminar:active{
    background-color: #ee6969;
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-añadir{
    background-color: #5c9261;
    color: #ffffff;
    font-weight: 500;
    margin-top: 5px;
    border: none;
    width: 100%;
}

.btn-añadir:hover{
    background-color: #3a5e3d;
}

.btn-añadir:focus, .btn-añadir:active{
    background-color: #3a5e3d;
    outline: none;
    border: none;
    box-shadow: none;
}

.form-file::file-selector-button{
    background-color: #ffffff;
    color: #1e5631;
    font-weight: 500;
    border: none;
}

/* Divs de Educacion-Skills-Proyectos */
.grupo-info , .certificates-container, .educaciones-container, .softSkills-container , .hardSkills-container, .proyectos-container , .experience-container{
    border: 1px solid #1e5631;
    border-radius: 5px;
    padding: 5px;
}
