    <!--Acerca de mi-->
    <section class="about-me">
        <div class="container-fluid grid ms-0 m-0"> <!--Arreglar margin end-->
            <div class="row">
              <div class="col-3 text-center">
                <img src="../../../assets/perfil2.jpg" alt="foto de perfil" class="rounded-circle img-fluid img-thumbnail ft-perfil">
                <h4>Ezequiel Dalzotto</h4>
                <p>Estudiante</p>
                <p>Entre Rios (Argentina)</p>
              </div>
              <div class="col-9 text-left mt-5">
                <h2 class="about-me-titulo">Acerca de mi</h2>
                <p class="about-me-texto">Soy un estudiante de sistemas en FCAL UNER que le apasiona la programación en general y
                  con muchas ganas de aprender cada vez más sobre desarrollo web. Me encanta explorar 
                  sobre nuevas tecnologías para entenderlas y poder adquirir nuevas herramientas por 
                  curiosidad y para mejorar la calidad y optimización de mi código.
                </p>
              </div>
            </div>
          </div>
    </section>