.register-box{
    width: 40%;
    min-width: 350px;
    margin-top: 8%;
    padding: 4%;
    background-color: #d4fad798;
    border: 2px solid #045736;
}

.register-box .btn-register{
    background-color: #0a4d32;
    width: 100%;
    padding: 0;
    height: 5vh;
    color: #ffffff;
    border:#045736;
}