<!-- SoftSkills -->
<div class=" my-3 softSkills-container">
    <h4>Soft Skills</h4>
    <div class="my-3 soft-1 grupo-info" *ngFor="let soft_skill of softSkills">
        <div class="my-3 col-6">
            <label for="skill" class="form-label">Habilidad</label>
            <input type="text" class="form-control" id="skill" [placeholder]="soft_skill.name">
        </div>
        <div class="my-3 col-2">
            <label for="porcentaje" class="form-label">Porcentaje</label>
            <input type="text" class="form-control col-3" id="porcentaje" [placeholder]="soft_skill.percentage">
        </div>
        <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>
    <button type="button" class="btn btn-primary btn-añadir">Añadir Habilidad</button>
</div>

<!-- Hard Skills -->
<div class=" my-3 hardSkills-container">
    <h4>Hard Skills</h4>
    <div class="my-3 hard-1 grupo-info" *ngFor="let hard_skill of hardSkills">
        <div class="my-3 col-6">
            <label for="skill" class="form-label">Habilidad</label>
            <input type="text" class="form-control" id="skill" [placeholder]="hard_skill.name">
        </div>
        <div class="my-3 col-2">
            <label for="porcentaje" class="form-label">Porcentaje</label>
            <input type="text" class="form-control col-3" id="porcentaje" [placeholder]="hard_skill.percentage">
        </div>
        <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>
    <button type="button" class="btn btn-primary btn-añadir">Añadir Habilidad</button>
</div>