<nav class="navbar navbar-dark bg-custom">
    <div class="container-fluid justify-content-between nav-container">
        <!-- Logo AP linkeado a /inicio -->
        <a [routerLink]="'/home'"><img src="../../../assets/APLogo.png" alt=""class="d-inline-block align-text-top ap-logo"></a>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item bg-custom" *ngFor="let social_network of social_networks">
                <a href="{{social_network.url}}" target="_blank" rel="noopener noreferrer">
                    <img src="../../../assets/{{social_network.icon}}" alt="{{social_network.nombre}}" class="logo">
                </a>
            </li>
            <li *ngIf="isLogged" class="list-group-item bg-custom">
                <a routerLink="/admin-dashboard">
                    <img src="../../../assets/icons8-edit-64 (2).png" alt="panel" class="logo">
                </a>
            </li>
            
            <li class="list-group-item bg-custom">
                <!-- Button trigger login -->
                <button *ngIf="!isLogged" type="button" class="btn-sm btn-primary shadow-none btn-login" (click)="login()">
                    Login
                </button>
                <button *ngIf="isLogged" type="button" class="btn-sm btn-primary shadow-none btn-login" (click)="onLogOut()">
                    Logout
                </button>
            </li>
        </ul>   
    </div>
</nav>