<div id="carouselCertificados" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" *ngFor="let certificate of certificates;let i = index" data-bs-target="#carouselCertificados" [attr.data-bs-slide-to]="i" aria-current="true" aria-label="..." [ngClass]="{'active': i == 0}"></button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let certificate of certificates;let i = index" class="carousel-item" [ngClass]="{'active' : i == 0}" data-bs-interval="8000">
        <img src="{{certificate.img}}" class="d-block w-100 certificado" alt="{{certificate.nombre}}">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCertificados" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCertificados" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>