<div class="my-3 proyectos-container">
    <h4>Proyectos</h4>

    <div class="my-3 proyecto-1 grupo-info">
        <div class="my-3">
            <label for="formFile" class="form-label">Caratula del Proyecto</label>
            <input class="form-control form-file" type="file" id="formFile">
        </div>
        <div class="my-3">
            <label for="tituloProyecto" class="form-label">Proyecto</label>
            <input type="text" class="form-control" id="tituloProyecto">
        </div>
        <div class="my-3">
            <label for="descripcion-proyecto" class="form-label">Descripcion</label>
            <textarea class="form-control" id="descripcion-proyecto" rows="2"></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>
    
    <div class="my-3 proyecto-2 grupo-info">
        <div class="my-3">
            <label for="formFile" class="form-label">Caratula del Proyecto</label>
            <input class="form-control form-file" type="file" id="formFile">
        </div>
        <div class="my-3">
            <label for="tituloProyecto" class="form-label">Proyecto</label>
            <input type="text" class="form-control" id="tituloProyecto">
        </div>
        <div class="my-3">
            <label for="descripcion-proyecto" class="form-label">Descripcion</label>
            <textarea class="form-control" id="descripcion-proyecto" rows="2"></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>

    <div class="my-3 proyecto-3 grupo-info">
        <div class="my-3">
            <label for="formFile" class="form-label">Caratula del Proyecto</label>
            <input class="form-control form-file" type="file" id="formFile">
        </div>
        <div class="my-3">
            <label for="tituloProyecto" class="form-label">Proyecto</label>
            <input type="text" class="form-control" id="tituloProyecto">
        </div>
        <div class="my-3">
            <label for="descripcion-proyecto" class="form-label">Descripcion</label>
            <textarea class="form-control" id="descripcion-proyecto" rows="2"></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>

    <div class="my-3 proyecto-4 grupo-info">
        <div class="my-3">
            <label for="formFile" class="form-label">Caratula del Proyecto</label>
            <input class="form-control form-file" type="file" id="formFile">
        </div>
        <div class="my-3">
            <label for="tituloProyecto" class="form-label">Proyecto</label>
            <input type="text" class="form-control" id="tituloProyecto">
        </div>
        <div class="my-3">
            <label for="descripcion-proyecto" class="form-label">Descripcion</label>
            <textarea class="form-control" id="descripcion-proyecto" rows="2"></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>

    <button type="button" class="btn btn-primary btn-añadir">Añadir Proyecto</button>
</div>