<div class="my-3 proyectos-container">
    <h4>Proyectos</h4>

    <div class="my-3 proyecto-1 grupo-info" *ngFor="let project of projects">
        <app-project-form
            (onSaveProject)="saveProject($event)"
            (onDeleteProject)="removeProject($event)"
            [project]="project"
        ></app-project-form>
    </div>
    <div *ngIf="onAdding">
        <h4>Nuevo Proyecto</h4>
        <app-project-form (onSaveProject)="addProject($event)"></app-project-form>
    </div>
    <button *ngIf="!onAdding" type="button" (click)="toggleOnAdding()" class="btn btn-primary btn-añadir">Añadir Proyecto</button>
    <button *ngIf="onAdding" type="button" (click)="toggleOnAdding()" class="btn btn-primary btn-cancelar-añadir">Deshacer</button>
</div>