<section class="proyectos">
    <div class="container-fluid grid ms-0 mt-5">
      <h3 class="titulo-seccion proyectos__titulo-seccion text-center mt-4">Proyectos</h3>
      <!-- CARDS BOOTSTRAP -->
      <div class="row row-cols-1 row-cols-md-3 g-4 m-3">
        <div class="col" *ngFor="let project of projects">
          <a href="{{project.url}}">
            <div class="card h-100">
              <img src="{{project.portada}}" class="card-img-top" alt="{{project.titulo}}">
              <div class="card-body">
                <h5 class="card-title">{{project.titulo}}</h5>
                <p class="card-text">{{project.descripcion}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>