<section class="educacion">
    <div class="container-fluid ms-0 m-0">
      <h3 class="titulo-seccion educacion__titulo-seccion text-end mt-4 mb-4">Educacion</h3>
      <!--Grid que contiene grid de educaciones y certificados-->
      <div class="educacion__maingrid-container"> 
        <div class="row">
          <div class="col-7">
            <!--Grid de educaciones-->
            <div class="educacion__grid-educaciones container-fluid">
              <div class="row" *ngFor="let educacion of educations">
                <div class=" col-4 text-left mt-3">
                  <h4 class="educacion-titulo">{{educacion.titulo}}</h4>
                  <h6 class="años-de-estudio">{{educacion.periodo}}</h6>
                </div>
                <div class="col-8 text-center mt-3">
                  <h5>{{educacion.nombre}}</h5>
                  <p class="educacion-texto">
                    {{educacion.detalle}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--Columna de certificados-->
          <div class="col-5 text-center">
            <!-- Carrousel de certificados -->
            <app-certificates></app-certificates>
          </div>
        </div>
      </div>
    </div>
  </section>