<section class="educacion">
    <div class="container-fluid ms-0 m-0">
      <h3 class="titulo-seccion educacion__titulo-seccion text-end mt-4 mb-4">Educacion</h3>
      <!--Grid que contiene grid de educaciones y certificados-->
      <div class="educacion__maingrid-container"> 
        <div class="row">
          <div class="col-7">
            <!--Grid de educaciones-->
            <div class="educacion__grid-educaciones container-fluid">
              <!-- Secundario -->
              <div class="row">
                <div class=" col-4 text-left mt-3">
                  <h4 class="educacion-titulo">Secundario</h4>
                  <h6 class="años-de-estudio">2014-2019</h6>
                </div>
                <div class="col-8 text-center mt-3">
                  <h5>Comercio 1</h5>
                  <p class="educacion-texto">
                    Escuela secundaria Nro 16 Profesor Gerardo Victorin
                  </p>
                </div>
              </div>
              <!-- Ingles -->
              <div class="row">
                <div class=" col-4 text-left mt-3">
                  <h4 class="educacion-titulo">Inglés</h4>
                  <h6 class="años-de-estudio">2013-2019</h6>
                </div>
                <div class="col-8 text-center mt-3">
                  <h5>Instituto E.L.A Inglés</h5>
                  <p class="educacion-texto">
                    Con First Certificate in English evaluado por Cambridge Assessment
                  </p>
                </div>
              </div>
              <div class="row">
                <div class=" col-4 text-left mt-3">
                  <h4 class="educacion-titulo">Argentina Programa</h4>
                  <h6 class="años-de-estudio">2021-2022</h6>
                </div>
                <div class="col-8 text-center mt-3">
                  <h5>#YoProgramo</h5>
                  <p class="educacion-texto">
                    Primera etapa de Argentina Programa
                  </p>
                </div>
              </div>
              <div class="row">
                <div class=" col-4 text-left mt-3">
                  <h4 class="educacion-titulo">Universidad</h4>
                  <h6 class="años-de-estudio">2021-Actualidad</h6>
                </div>
                <div class="col-8 text-center mt-3">
                  <h5>Facultad de Ciencias de la Administracion - UNER</h5>
                  <p class="educacion-texto">
                    Actualmente en tercer año de Licenciatura en Sistemas
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--Columna de certificados-->
          <div class="col-5 text-center">
            <!-- Carrousel de certificados -->
            <app-certificates></app-certificates>
          </div>
        </div>
      </div>
    </div>
  </section>