<form>
    <div class="my-3">
        <label for="linkedin" class="form-label">Linkedin</label>
        <input type="text" class="form-control" id="linkedin">
        <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>
    <div class="my-3">
        <label for="instagram" class="form-label">Instagram</label>
        <input type="text" class="form-control" id="instagram">
        <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>
    <div class="my-3">
        <label for="github" class="form-label">Github</label>
        <input type="text" class="form-control" id="github">
        <button type="button" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </div>
</form>