<div *ngIf="social_network; else nuevo">
    <form [formGroup]="socialForm" (ngSubmit)="onSave()">
        <label for="socialUrl" class="form-label">{{social_network.media}}</label>
        <input type="text" class="form-control" formControlName="socialUrl" id="socialUrl" [placeholder]="social_network.url">
        <button type="submit" [disabled]="socialForm.invalid" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-cancelar ms-2">Cancelar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </form>
</div>

<!-- Ejemplo para los que puedan añadir nuevos datos -->
<ng-template #nuevo>
    <form [formGroup]="socialForm" (ngSubmit)="onSave()">
        <label for="socialUrl" class="form-label">Red Social</label>
        <input type="text" class="form-control" formControlName="socialUrl" id="socialUrl" placeholder="Ingrese el url de la red social">
        <button type="submit" [disabled]="socialForm.invalid" class="btn btn-primary btn-guardar">Guardar</button>
        <button type="button" class="btn btn-primary btn-cancelar ms-2">Cancelar</button>
        <button type="button" class="btn btn-primary btn-eliminar ms-2">Eliminar</button>
    </form>
</ng-template>