<section class="hardSoftSkilss">
    <div class="container-fluid mt-3">
      <h3 class="titulo-seccion hardSoftSkills__titulo-seccion text-center mt-4 mb-4">Hard & Soft Skills</h3>
      

      <!-- Soft Skills -->
      <div class="skills-container">
        <div class="skills-box">
          <h2>Soft Skills</h2>
          <ul class="skills-list">
            <li>
              <div class="skill">
                <div class="skill-name">Trabajo en Equipo</div>
                <div class="skill-bar">
                  <!--usar active para dar animacion-->
                  <div class="skill-progress active soft-progress-1"></div> 
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">Comunicacion</div>
                <div class="skill-bar">
                  <div class="skill-progress soft-progress-2"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">Proactivo</div>
                <div class="skill-bar">
                  <div class="skill-progress soft-progress-3"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">Resolucion de problemas</div>
                <div class="skill-bar">
                  <div class="skill-progress soft-progress-4"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">Flexibilidad</div>
                <div class="skill-bar">
                  <div class="skill-progress soft-progress-5"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">Autoorganizacion</div>
                <div class="skill-bar">
                  <div class="skill-progress soft-progress-6"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      
        <!-- Hard Skills -->
        <div class="skills-box">
          <h2>Hard Skills</h2>
          <ul class="skills-list">
            <li>
              <div class="skill">
                <div class="skill-name">HTML</div>
                <div class="skill-bar">
                  <div class="skill-progress hard-progress-1"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">CSS</div>
                <div class="skill-bar">
                  <div class="skill-progress hard-progress-2"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">JS</div>
                <div class="skill-bar">
                  <div class="skill-progress hard-progress-3"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">Typescript</div>
                <div class="skill-bar">
                  <div class="skill-progress hard-progress-4"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">Angular</div>
                <div class="skill-bar">
                  <div class="skill-progress hard-progress-5"></div>
                </div>
              </div>
            </li>
            <li>
              <div class="skill">
                <div class="skill-name">SQL</div>
                <div class="skill-bar">
                  <div class="skill-progress hard-progress-6"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>