.bg-custom{
    background-color: #045736;
}

body {
    background: rgb(168,203,168);
    background: linear-gradient(180deg, rgba(168,203,168,1) 35%, rgba(143,184,150,1) 80%, rgba(114,167,134,1) 100%);
}

/* Buttons for Dashboard panels */
.btn-guardar{
    background-color: #ffffff;
    color: #1e5631;
    font-weight: 500;
    margin-top: 10px;
    border: none;
}

.btn-guardar:hover{
    background-color: #5c9261;
}

.btn-guardar:focus, .btn-guardar:active{
    background-color: #5c9261;
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-guardar:disabled{
    background-color: #8c9c8e;
}

.btn-eliminar{
    background-color: #ffffff;
    color: #1e5631;
    font-weight: 500;
    margin-top: 10px;
    border: none;
}

.btn-eliminar:hover{
    background-color: #ee6969;
}

.btn-eliminar:focus, .btn-eliminar:active{
    background-color: #ee6969;
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-cancelar{
    background-color: #ffffff;
    color: #1e5631;
    font-weight: 500;
    margin-top: 10px;
    border: none;
}

.btn-cancelar:hover{
    background-color: #dbb479;
}

.btn-cancelar:focus, .btn-cancelar:active{
    background-color: #dbb479;
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-a単adir{
    background-color: #5c9261;
    color: #ffffff;
    font-weight: 500;
    margin-top: 5px;
    border: none;
    width: 100%;
}

.btn-a単adir:hover{
    background-color: #3a5e3d;
}

.btn-a単adir:focus, .btn-a単adir:active{
    background-color: #3a5e3d;
    outline: none;
    border: none;
    box-shadow: none;
}

.form-file::file-selector-button{
    background-color: #ffffff;
    color: #1e5631;
    font-weight: 500;
    border: none;
}

/* !!!!!!!!!!!MEJORAR!!!!!!!!!! */
.grupo-info , .certificates-container, .educaciones-container, .softSkills-container , .hardSkills-container, .proyectos-container{
    border: 1px solid #1e5631;
    border-radius: 5px;
    padding: 5px;
}
