.bg-custom{
    background-color: #045736;
}

body {
    background: rgb(168,203,168);
    background: linear-gradient(180deg, rgba(168,203,168,1) 35%, rgba(143,184,150,1) 80%, rgba(114,167,134,1) 100%);
}
