<section class="experiencia">
    <div class="container-fluid grid ms-0 m-0">
      <h3 class="titulo-seccion experiencia__titulo-seccion text-center my-2">Experiencias</h3>
      <div class="row" *ngFor="let experience of experiences">
        <div class="col-3 text-center">
          <img src="{{experience.img}}" alt="{{experience.titulo}}" class="rounded img-fluid img-thumbnail ft-exp">
        </div>
        <div class="col-9 text-left mt-3">
          <h2 class="experiencia-titulo">{{experience.titulo}}</h2>
          <p class="experiencia-texto">{{experience.descripcion}}</p>
        </div>
      </div>
    </div>
  </section>