<div class="my-3 experience-container">
    <h4>Experiencias</h4>

    <div class="my-3 experience grupo-info" *ngFor="let experience of experiences">
        <app-experience-form
            (onSaveExperience)="saveExperience($event)"
            (onDeleteExperience)="removeExperience($event)"
            [experience]="experience"
        ></app-experience-form>
    </div>
    <div *ngIf="onAdding">
        <h4>Nueva Experienca</h4>
        <app-experience-form (onSaveExperience)="addExperience($event)"></app-experience-form>
    </div>
    <button *ngIf="!onAdding" type="button" (click)="toggleOnAdding()" class="btn btn-primary btn-añadir">Añadir Experienca</button>
    <button *ngIf="onAdding" type="button" (click)="toggleOnAdding()" class="btn btn-primary btn-cancelar-añadir">Deshacer</button>
</div>